body {
  text-align: center;
  background: linear-gradient(-45deg, #e5e5be, #003973, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
  font-size: 5.5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #048cda;
  margin-bottom: 0;

}

p{
  font-size: 1.3rem;
  color: #DBEDF3;
  font-family: sans-serif;
}

.main-text{
  margin-bottom: 4rem;
}

a{
  color: #DBEDF3;
}

footer {
  color: #DBEDF3;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-shadow: 1px 0 #048cda;
}

.random-beat #random{
  font-size: 1.5rem;
  font-family: "Arvo", cursive;
  color: white;
  background: rgba( 2, 34, 70, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.pointer:hover{
  cursor: pointer;
}

.w {
  
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
  
}

.set {
  margin: 5% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 1px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  border: 8px solid #34b8ec;
  outline: none;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #34b8ec;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}


